@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?hvkz3l');
    src:    url('../fonts/icomoon.eot?hvkz3l#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?hvkz3l') format('truetype'),
        url('../fonts/icomoon.woff?hvkz3l') format('woff'),
        url('../fonts/icomoon.svg?hvkz3l#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: inline-block;
    font-size: 20px;
     vertical-align: middle;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-vip:before {
    content: "\e60f";
}
.icon-xing:before {
    content: "\e604";
}
.icon-jian:before {
    content: "\e900";
}
.icon-jia:before {
    content: "\e901";
}
.icon-dianhua:before {
    content: "\e902";
}
.icon-zuobiao:before {
    content: "\e903";
}
.icon-shouye:before {
    content: "\e904";
}
.icon-dingdan:before {
    content: "\e905";
}
.icon-kaquan:before {
    content: "\e906";
}
.icon-gouwuche:before {
    content: "\e907";
}
.icon-jifen:before {
    content: "\e908";
}
.icon-shouye-2:before {
    content: "\e909";
}
.icon-dingdan-2:before {
    content: "\e90a";
}
.icon-kaquan-2:before {
    content: "\e90b";
}
.icon-gouwuche-2:before {
    content: "\e90c";
}
.icon-cha:before {
    content: "\e61a";
}
.icon-gantan:before {
    content: "\e62d";
}
.icon-up:before {
    content: "\e601";
}
.icon-right:before {
    content: "\e605";
}
.icon-left:before {
    content: "\e607";
}
.icon-hook:before {
    content: "\e608";
}
.icon-down:before {
    content: "\e60b";
}
