// -----theme color----
$color-theme:#fe007f;
$color-gray: #898989;

$border-color: #e1e1e1;


$md-font: 12px;
$sm-font: 10px;
// ----margin----
$gauge: 10px;


@mixin height($bs:44px){
    height:$bs;
    line-height:$bs;
}
@mixin semicircle($bs:44px){
	@include height($bs);
	border-radius: $bs / 2;
	text-align:center;
} 
@mixin circle($bs:24px){
	@include height($bs);
	border-radius: $bs;
	width: $bs;
	text-align:center;
}
@mixin borderRadius($bs:30px){
	@include height($bs);
	border-radius: 6px;
	text-align:center;
}

.theme-font {color: $color-theme;}

%box {
    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack:center;
}

// --public-style---
.clearfix:after{
    content: ".";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}

.nowrap {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nowrap-2 {
    line-height: 1rem !important;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.border-top,
.border-bottom,
.border-list,
.border-list li,
.bg-show{
	position: relative;
}
%mini-border {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    pointer-events: none;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform:scale(.5);
    transform:scale(.5);
    box-sizing:border-box;
}
.border-top:after {
	@extend %mini-border;
	border-top: 1px solid $border-color;
}
.border-bottom:after {
	@extend %mini-border;
	border-bottom: 1px solid $border-color;
}

.bg-show:before,.border-list:before {
	@extend .border-top:after;
}

.bg-show:after,.border-list li:after {
	@extend .border-bottom:after;
	
}
.border-list {
	margin-top: $gauge;
	background-color: #fff;
	width:100%;
}
.bg-show {
	background-color: #fff;
	margin-bottom: $gauge;
	width:100%;
}
.list-box {
    position: relative;
    display: box;
    display: -webkit-box; 
    padding: 10px;  
    i{
    	line-height: 24px;
    	&:nth-child(1){
    		margin-right: .5rem;
    	}
    }
}

.list-img {
    position: relative;
    display: block;
    width: 3.75rem;
    height: 3.75rem;
    margin-right: .2rem;
}

.list-info {
    -webkit-box-flex:1;
    box-flex:1;
    display: box;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-pack:center;
}

.list-info h4{
    line-height: 24px;
}

.list-info p{
    line-height: 24px;
    font-size: $md-font;
}

// ----均匀分布---
.equably-layout {
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	li{
		-webkit-box-flex:1;
		width: 100%;	
		text-align: center
	}
	a{
		display: block;
		padding: 20px 0;
	}
	i {
		font-size: 28px;
	}
}

// ------nothing style-----
.nothing {
	padding: 5rem .5rem;
	text-align:center;
	i{
		font-size: 40px;
		color: $color-gray;
		margin-bottom: 10px;
	}
	h2{
		font-size: 16px;
		font-weight: bold;
		line-height: 30px;
	}
}

// ----checkbox---
.checkbox,.all-check {
    display: block;
    position: relative;
    margin-right: .3rem;
    input{
    	@include circle; 
	    border: 1px solid $border-color;
	    position: relative;
	    z-index: 2;
	    display: inline-block;
	    &:checked{
	    	 border:none;
	    }
    }
    i{
    	@include circle; 
	    position: absolute;
	    top: 0;
	    left: 0;
	    color: #fff;
    }
}
.checkbox input:checked + i,
.all-check input:checked + i {
    background-color: $color-theme;   
}

/*dialog*/
.ui-dialog,.tip-dialog{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    background: rgba(0,0,0,.4);
}

.ui-dialog.show{
    display: -webkit-box;
    display: box;
}

.dialog-cnt {
    position: relative;
    width: 14rem;
    background-color: rgba(253,253,253,.95);
    border-radius: .3rem;
}

.dialog-cnt h2 {
    line-height: 2.2rem;
    font-size: .8rem;
    text-align: center;
    position: relative;
}
.dialog-cnt h2:after{
    border-bottom: 1px solid #ddd;
}
.dialog-cnt p{
    padding: .8rem;
    line-height: 1rem;
}

.content{
    color: #868686;
    font-size: .6rem;
    max-height: 16rem;
    overflow-y: auto;
}
.two-btn {
    border-top: 1px solid #eee;
    padding: .5rem 0;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.two-btn a {
    display: inline-block;
    line-height: 2rem;
    width: 5rem;
    border-radius: .3rem;
    color: #fff !important;
    text-align: center;
    margin: 0 .5rem;
}
.two-btn .confirm {
    background-color: $color-theme;  
}

.two-btn .cancel {
    background-color: #ccc;
}

/*--banner*/
.slide {
    position: relative;
    width: 100%;
    height: 8.75rem;
    overflow: hidden;
}

.slide:after {
    content: '';
    display: block;
    width: 100%;
}

.slide ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.slide li {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.slide li:first-child {
    z-index: 1;
}

.slide li img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    border: none;
}

.slide .dot {
    position: absolute;
    bottom: 10px;
    z-index: 5;
    font-size: 0;
    left: 7rem;
}

.slide .dot span {
    display: inline-block;
    width: .4rem;
    height: .4rem;
    margin: 0 .1rem;
    border-radius: .4rem;
    background: #FFF;
    opacity: .8;
}

.slide .dot .cur {
    background-color: $color-theme;
    opacity: .8;
}
/*---banner*/


/*slide checkbox*/
.slide-btn{
  margin-top: 7px;
  @include height(28px);
}
.slide-btn input{
    width: 50px;
    @include height(28px);
}
.slide-btn input:before{
    content: "";
    position:  absolute;
    padding-left: 20px;
    width: 50px;
    @include semicircle(28px);
    background-color: #ccc;
    color: #fff;
    box-sizing:border-box;
    -webkit-transition: background-color .4s linear;
}
.slide-btn input:after{
    content: "";
    position: absolute;
    display: inline-block;
 	@include circle(32px);
    background-color: #fff;
    border:1px solid #ccc;
    box-sizing:border-box;
    -webkit-transform:translateX(0);
    -webkit-transition: -webkit-transform .4s linear;
    margin-top: -2px;
}

.slide-btn input:checked:before{
    content: "";
    background-color: $color-theme !important;
    -webkit-transition: background-color .4s cubic-bezier(0.175, .885, .32, 1.1) 0s;
}
.slide-btn input:checked:after{
    -webkit-transform:translateX(19px);
    -webkit-transition: -webkit-transform .4s cubic-bezier(0.175, .885, .32, 1.1) 0s;
}
.fixed-bottom {
	position:fixed;
	bottom:0;
	left:0;
	width: 100%;
	z-index: 3;
}

i.icon-right {color: #898989;}