// -----theme color----
$color-theme:#fe007f;
$color-gray: #898989;

$border-color: #e1e1e1;


$md-font: 12px;
$sm-font: 10px;
// ----margin----
$gauge: 10px;


@mixin height($bs:44px){
    height:$bs;
    line-height:$bs;
}
@mixin semicircle($bs:44px){
	@include height($bs);
	border-radius: $bs / 2;
	text-align:center;
} 
@mixin circle($bs:24px){
	@include height($bs);
	border-radius: $bs;
	width: $bs;
	text-align:center;
}

.theme-font {color: $color-theme;}

%box {
    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack:center;
}

// --public-style---
.clearfix:after{
    content: ".";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}

.nowrap {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nowrap-2 {
    line-height: 1rem !important;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.border-top,
.border-bottom,
.border-list,
.border-list li,
.bg-show{
	position: relative;
}
%mini-border {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    pointer-events: none;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform:scale(.5);
    transform:scale(.5);
    box-sizing:border-box;
}
.border-top:after {
	@extend %mini-border;
	border-top: 1px solid $border-color;
}
.border-bottom:after {
	@extend %mini-border;
	border-bottom: 1px solid $border-color;
}

.bg-show:before,.border-list:before {
	@extend .border-top:after;
}

.bg-show:after,.border-list li:after {
	@extend .border-bottom:after;
	
}
.border-list {
	margin-top: $gauge;
	background-color: #fff;
	width:100%;
}
.bg-show {
	background-color: #fff;
	margin-bottom: $gauge;
	width:100%;
}
.list-box {
    position: relative;
    display: box;
    display: -webkit-box; 
    padding: 10px;  
    i{
    	line-height: 24px;
    	&:nth-child(1){
    		margin-right: .5rem;
    	}
    }
}

.list-img {
    position: relative;
    display: block;
    width: 3.75rem;
    height: 3.75rem;
    margin-right: .2rem;
}

.list-info {
    -webkit-box-flex:1;
    box-flex:1;
    display: box;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-pack:center;
}

.list-info h4{
    line-height: 24px;
}

.list-info p{
    line-height: 24px;
    font-size: $md-font;
}

// ----均匀分布---
.equably-layout {
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	li{
		-webkit-box-flex:1;
		width: 100%;	
		text-align: center
	}
	a{
		display: block;
		padding: 20px 0;
	}
}

// ------nothing style-----
.nothing {
	padding: 5rem .5rem;
	text-align:center;
	i{
		font-size: 40px;
		color: $color-gray;
		margin-bottom: 10px;
	}
	h2{
		font-size: 16px;
		font-weight: bold;
		line-height: 30px;
	}
}

// ----checkbox---
.checkbox,.all-check {
    display: block;
    position: relative;
    margin-right: .3rem;
    input{
    	@include circle; 
	    border: 1px solid $border-color;
	    position: relative;
	    z-index: 2;
	    display: inline-block;
	    &:checked{
	    	 border:none;
	    }
    }
    i{
    	@include circle; 
	    position: absolute;
	    top: 0;
	    left: 0;
	    color: #fff;
    }
}
.checkbox input:checked + i,
.all-check input:checked + i {
    background-color: $color-theme;   
}

.fixed-bottom {
	position:fixed;
	bottom:0;
	left:0;
	width: 100%;
}
.left {float: left;}
.right{float: right;}